<div class="row">
    <div class="col-xs-12">
      <p appBasicHighlight>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input #nameInput type="text" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input #serverContent type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(nameInput)">Add Server</button>
      <button
        #blueprintInput
        class="btn btn-primary"
        (click)="onAddBlueprint(nameInput)">Add Server Blueprint</button>
    </div>
  </div>
