<ul class="navigation">
    <li><a routerLinkActive="active" [routerLink]="[ '/' ]" [routerLinkActiveOptions]="{exact: true}">General</a></li>
    <li><a routerLinkActive="active" [routerLink]="[ '/another' ]">Routing</a></li>
    <li><a routerLinkActive="active" [routerLink]="[ '/forms',  ]">Forms</a></li>
    <li><a routerLinkActive="active" [routerLink]="[ '/pipes',  ]">Pipes</a></li>
    <li><a routerLinkActive="active" [routerLink]="[ '/rxjs',  ]">RxJS</a></li>
    <li><a routerLinkActive="active" [routerLink]="[ '/animations',  ]">Animations</a></li>
</ul>
